gloval:
  checkNewVersion: false
  sendAnonymousUsage: false
  
logging:
  level: DEBUG

# Включаем API и Dashboard (для отладки)
api:
  dashboard: true
  insecure: false # В продакшене лучше защитить

# Определяем "точки входа" (порты, которые слушает Traefik)
entryPoints:
  web:
    address: :80
    # Добавляем middleware для автоматического редиректа с HTTP на HTTPS
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443

certificatesResolvers:
  cert-resolver:
    acme:
      email: "forregserv@gmail.com" # ВАЖНО: Укажите ваш реальный email
      storage: "acme.json" # Файл для хранения сертификатов
      httpChallenge:
        entryPoint: web # Используем HTTP-челлендж через точку входа web (порт 80)

providers:
  # Провайдер Docker для автоматического обнаружения контейнеров
  docker:
    exposedByDefault: false # Рекомендуется false: Traefik будет управлять только контейнерами с явной меткой traefik.enable=true
 